<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Name Title{% endblock %}</title>
  <!-- favicon -->
  <link rel="shortcut icon" href="favicon_error/favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon_error/favicon.ico" type="image/x-icon">

  <!-- script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.31.0/sweetalert2.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  

  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase.js"></script>
  <script src='js/auth/firebaseConfig.js'></script>
 
  <!-- link css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.31.0/sweetalert2.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  
  <link rel="stylesheet" href="css/elegant.css" type="text/css">
  <link rel="stylesheet" href="font.css" type="text/css">

  <!-- for more script or css -->
  {% block head %}{% endblock %}

</head>
<body>
  <!-- Preloading -->
  {%include "./preloading.html"%}

  <!-- content block more-->
  <script src="js/insertUserBar.js"></script>
  {% block content %}{% endblock %}

  <link rel="stylesheet" href="css/puankin.css" type="text/css">
  <script src="js/userbar.js"></script>
  <script src="js/auth/gotoStore.js"></script>
</body>

</html>