<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Puankin-Page</title>
  <link rel="shortcut icon" href="favicon_error/favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon_error/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/elegant.css" type="text/css">
  <link rel="stylesheet" href="font.css" type="text/css">
  <script src="js/animate-in.js"></script>
</head>

<body>
  <div class="align-items-center d-flex photo-overlay py-5 cover" style="background-image: url(&quot;assets/picture/Puankin/cover/ex.png&quot;);background-color:black">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 align-self-center text-lg-left text-center"><img class="img-fluid d-block mx-auto" src="assets/picture/puankin5.png">
          <h1 class="text-center text-warning" style="font-size:45"><br> แหล่งรวมความบันเทิง ถ้าคุณเหงา เราคือเพื่อน<br><br> </h1>
        </div>
      </div>
      <div class="row">
        <div class="badge" style="margin-left:180px" onclick="location='/puankin/home';">
          <div class="beer-single-div"></div>
        </div>
        <div class="badge anim" style="margin-left:200px" onclick="location='/puankin/store';">
          <div class="beer-animation-wrapper">
            <div class="beer">
              <div class="foam"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>