{% extends '../partials/Template.html' %}

{% block title %}Contact-page{% endblock %}

{% block head %}
  <!-- {% parent %} -->
{% endblock %}

{% block content %}
<!-- top -->
{%include "../partials/NavbarTop.html"%}

<!-- Cover -->
<div class="align-items-center d-flex photo-overlay py-5 cover" style="background-image: url(&quot;assets/picture/Puankin/cover/puankin_14.jpg&quot;);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img class="d-block mx-auto img-fluid" src="assets/picture/46847369_323405114919158_2617888364841402368_n.png">
                <h1 class="text-center text-warning" style="font-size:40"> แหล่งรวมความบันเทิง ถ้าคุณเหงา เราคือเพื่อน </h1>
            </div>
        </div>
    </div>
</div>

<!-- content -->
<div class="align-items-center d-flex photo-overlay py-5 cover text-warning bg-primary">
        <!-- <div class="align-items-center d-flex photo-overlay py-5 cover text-warning bg-primary" style="background-image: url(&quot;assets/picture/puankin_1.jpg&quot;);"> -->
        <div class="container">
          <div class="row animate-in-down">
            <div class="col-md-12">
              <h1 class="display-4 text-warning text-center">CONTACT US</h1>
              <div class="row">
                <div class="col-md-12"><iframe width="100%" height="400" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3885.6686300166257!2d100.91740781475713!3d13.1201664907585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3102b67ef835f265%3A0x963c6129282e5cb!2z4Lih4Lir4Liy4Lin4Li04LiX4Lii4Liy4Lil4Lix4Lii4LmA4LiB4Lip4LiV4Lij4Lio4Liy4Liq4LiV4Lij4LmMIOC4p-C4tOC4l-C4ouC4suC5gOC4guC4leC4qOC4o-C4teC4o-C4suC4iuC4sg!5e0!3m2!1sth!2sth!4v1543788943292" scrolling="no" frameborder="0"></iframe></div>
              </div><br><br>
              <h1 class="lead text-center text-warning" style="margin-top:40px">
                <font size="7">Puankin Team</font>
              </h1><br>
              <div class="row">
                <div class="col-md-4" style="">
                  <h2 class="lead text-center text-warning" style="">
                    <font size="7">Phone Number </font>
                  </h2>
                  <h2 class="lead text-center text-warning" style="">
                    <font size="6">08X-XXX-XXXX </font>
                  </h2>
                  <h2 class="lead text-center text-warning" style="">
                    <font size="6">02-XXX-XXXX </font>
                  </h2>
                </div>
                <div class="col-md-4" style="">
                  <h2 class="lead text-center text-warning" style="">
                    <font size="7">E-Mail </font>
                  </h2>
                  <h2 class="lead text-center text-warning" style="">
                    <font size="6">devteampj@gmail.com </font>
                  </h2>
                </div>
                <div class="col-md-4" style="">
                  <h2 class="lead text-center text-warning" style="">
                    <font size="7">SERVICE HOUR </font>
                  </h2>
                  <h2 class="lead text-center text-warning" style="">
                    <font size="6">Monday - Friday </font>
                  </h2>
                  <h2 class="lead text-center text-warning" style="">
                    <font size="6">09:00 AM - 04:30 PM </font>
                  </h2>
                </div>
              </div><br><br>
              <h1 class="lead text-center text-warning" style="margin-top:40px">
                <font size="7">DEVELOPER</font>
              </h1>
              <div class="row">
                <div class="col-md-4" style=""><img class="img-fluid d-block rounded-circle" src="assets/picture/Puankin/contract/pun2.jpg"><br>
                  <h2 class="lead text-center text-warning" style="">
                    <font size="7">KORAVAT.T </font>
                  </h2>
                </div>
                <div class="col-md-4" style=""><img class="img-fluid d-block rounded-circle" src="assets/picture/Puankin/contract/kun.jpg"><br>
                  <h2 class="lead text-center text-warning" style="">
                    <font size="7">KUN.S </font>
                  </h2>
                </div>
                <div class="col-md-4" style=""><img class="img-fluid d-block rounded-circle" src="assets/picture/Puankin/contract/Noxxer.jpg"><br>
                  <h2 class="lead text-center text-warning" style="">
                    <font size="7">JIROT.S </font>
                  </h2>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4" style="margin-left:160px"><img class="img-fluid d-block rounded-circle" src="assets/picture/Puankin/contract/B05513R.jpg"><br>
                  <h2 class="lead text-center text-warning" style="">
                    <font size="7">PANYAWAT.S </font>
                  </h2>
                </div>
                <div class="col-md-4" style="margin-left:px"><img class="img-fluid d-block rounded-circle" src="assets/picture/Puankin/contract/micklert.jpg"><br>
                  <h2 class="lead text-center text-warning" style="">
                    <font size="7">SUPAWIT.L </font>
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<!-- footer -->
{%include "../partials/Footer.html"%}

{% endblock %}